<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, intial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <title>Signup</title>
</head>
<body>

    <div class="col-md-4 mx-auto px-4">
        <h2>SignUp</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p  }}
            <input type="submit" value="Signup" class="btn btn-success">
        </form>
        <p><a href="{% url 'app_blog:login' %}">Already have a account</a></p>
    </div>

</body>
</html>